body {
     display: flex;
     align-items: center;
     font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
     color: '#777';
     background: '#777';
     width: '960px';
     font-size: '18px';

}

.section_article,
.first_paragraph,
.second_paragraph,
header,
nav,
section,
article,
div,
aside,
footer {
    border: solid;
    }

.container {
    display: flex;
    flex-direction: column;
    border: solid red;
    width: 100%;
    height: 100%;

}

.section_article {
    display: flex;
    border: solid green;
    margin: 10px;
    width: 495px;

}


section {
    background: '#ebebeb';
    margin: 10px;
    width: 495px;


}

article {
    color: '#ebebeb';
    background: '#777';
}

aside {
    background: '#ebebeb';
    width: 450px;


}
 
header,nav,footer {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    background: '#ebebeb';

}
    
    